[submodule "src/db"]
	path = src/db
	url = https://github.com/akswnd98/RandomYoutubeCrawlerDB
[submodule "src/common"]
	path = src/common
	url = https://github.com/akswnd98/RandomYoutubeCrawlerCommon.git
